<div class="md:grid md:grid-cols-1 md:gap-4 lg:grid-cols-2">
  <div class="md:col-span-2">
    <h2 class="text-lg font-semibold text-gray-700">Editar <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "md:col-span-2" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, "E-mail", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 rounded-lg border border-gray-400" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="mb-4">Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-4">
      <%= f.label :password, "Senha", class: "block text-gray-700 text-sm font-bold mb-2" %> <i>(deixe em branco se não deseja alterá-la)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full py-2 px-3 rounded-lg border border-gray-400" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caracteres mínimo</em>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, "Confirmação de Senha", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full py-2 px-3 rounded-lg border border-gray-400" %>
    </div>

    <div class="mb-4">
      <%= f.label :current_password, "Senha Atual", class: "block text-gray-700 text-sm font-bold mb-2" %> <i>(precisamos da sua senha atual para confirmar as alterações)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full py-2 px-3 rounded-lg border border-gray-400" %>
    </div>

    <div class="text-center">
      <%= f.submit "Atualizar", class: "py-2 px-4 bg-sky-900 text-white rounded-full hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-opacity-75" %>
    </div>
  <% end %>

  <div class="md:col-span-2">
    <h3 class="text-lg font-semibold text-gray-700">Cancelar minha conta</h3>
  </div>

  <div class="md:col-span-2">
    <div class="mb-4">Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza?" }, method: :delete %></div>
  </div>
</div>

<%= link_to "Voltar", :back %>
