<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aplicação</title>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>
<body class="font-sans">

  <div class="min-h-screen flex flex-col md:flex-row items-center justify-center">
    <div class="md:w-3/5">
      <%= image_tag "https://picsum.photos/1536/864" %>
    </div>
    <div class="md:w-2/5 px-10 items-center justify-center">
      <div class="w-100">
        <%= image_tag "https://picsum.photos/3540/1400", class: 'self-center' %>
      </div>

      <div class="w-full md:w-100 mx-auto p-6 bg-gray-200 rounded-lg shadow-lg mt-4">
        <%= yield %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</body>
</html>
